<%- include("../partials/header"); %>
<div class="col-12">
    <h1>Subjects</h1>
    <a href="/subjects/add" class="btn btn-primary mb-2 btn-sm">Додати</a>
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th width="90px">Дії</th>
                <th>name</th>
                <th>fullname</th>
               
                <th>pckid</th>
                <th>progams</th>
            </tr>
        </thead>
        <tbody>
            <% subjects.forEach(subjects => { %>
            <tr>
                <td>
                    <a href="/subjects/edit/<%= subjects._id %>" class="btn btn-warning btn-sm" title="Редагувати">
                        <img src="images/edit-24px.svg" width="16px" height="16px" />                   
                    </a>             
                   
                    <a href="/subjects/delete/<%= subjects._id %>" class="btn btn-danger btn-sm" title="Видалити">
                        <img src="images/delete_outline-24px.svg" width="16px" height="16px" />
                    </a>
                </td>
                <td><%= subjects.name %></td>
                <td><%= subjects.fullname %></td>
                <td><%= subjects.abr %></td>
                <td><%= subjects.programs %></td>
            </tr>
            <% })%>
        </tbody>
    </table>
</div>
<%- include("../partials/footer"); %>