<%- include("../partials/header"); %>
 
<div class="col-12">
    <h1>Додати  eduload</h1>

    <form method="post" action="/edit_navt/insert">
        <div class="form-group">
            <label for="groupid">groupid</label>
           
            <select name="groupid" id="groupid" required class="form-control">
                <option value="<%= groupName[0]._id %>" selected><%= groupName[0].name %></option>
               <% 
               for(let i=1; i<groupName.length;i++){
                %>
                <option value="<%= groupName[i]._id %>"><%= groupName[i].name %></option>
                <%
               }
               %>
              
            </select>
        </div>
        <div class="form-group">
            <label for="subjectid">subjectid</label>
           
            <select name="subjectid" id="subjectid" required class="form-control">
                <option value="<%= subjectName[0]._id %>" selected><%= subjectName[0].name %></option>
               <% 
               for(let i=1; i<subjectName.length;i++){
                %>
                <option value="<%= subjectName[i]._id %>"><%= subjectName[i].name %></option>
                <%
               }
               %>
              
            </select>
        </div>
        
        <div class="form-group">
            <label for="teacherid">teacherid</label>
           
            <select name="teacherid" id="teacherid"  class="form-control">
                <option value="0" selected>Викладача не вибрано</option>
               <% 
               for(let i=0; i<teacherName.length;i++){
                %>
                <option value="<%= teacherName[i]._id %>"><%= teacherName[i].name %></option>
                <%
               }
               %>
              
            </select>
        </div>
        <div class="form-group">
            <label for="semestr">semestr</label>
           
            <select name="semestr" id="semestr" required class="form-control">
                <option value="1" selected>1</option>              
                <option value="2">2</option>           
              
            </select>
        </div>
        <% let fields=['lectures лекцій', 'practices практичних', 'labs лабораторних', 
                'consultations консультацій', 'exams екзаменів', 'credits заліків', 
                'courseworks курсових_робіт', 'edupractice навчальних_практик', 
                'diplompractice переддипломної_практики', 'statexam державний_іспит'];
                for(let field of fields){
                    let param1=field.split(' ');//;.slice(0,1);
                    //let param2=field.split(' ');//.slice(1,2);
                %>

        <div class="form-group">
            <label for="<%=param1[0]%>"><%=param1[0]%> Кількість <%=param1[1]%></label>
            <input   id="<%=param1[0]%>" value="0" class="form-control" type="text" 
            name="<%=param1[0]%>" >
        </div>
<% } %>
        
<div class="form-group">
            <label for="assigned">assigned</label>
           
            <select name="assigned" id="assigned"  class="form-control">
                <option value="нерозп" selected>нерозп</option>              
                <option value="основн">основн</option> 
                <option value="додат">додат</option>            
              
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-success">Зберегти</button>
            &nbsp;<a href="/edit_navt" class="btn btn-info">Назад</a>
        </div>
    </form>
</div>
<%- include("../partials/footer"); %>