<%- include("../partials/header");

%>
<div class="col-12">
    <h1>Редагувати teachers</h1>
    <form method="post" action="/teachers/update">

        <input value="<%= teachers._id %>" name="_id" id="_id" type="hidden">
        <div class="form-group">
            <label for="name">name</label>
            <input value="<%= teachers.name %>" required id="name" placeholder="name teachers"
                class="form-control" type="text" name="name">
        </div>
        <fieldset>
            <div class="form-group">
            
    
            <div class="custom-control custom-radio custom-control-inline">
                
                <input   id="sovmest_ct"   class="custom-control-input" type="radio" 
                name="sovmest" value="false"     
                <% if(!teachers.sovmest){ %>
                    checked   <% }%>  >
                <label class="custom-control-label radio-inline" for="sovmest_ct" >
                  Основний</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline ">
                <input   id="sovmest_bg"   class="custom-control-input" type="radio" 
                name="sovmest" value="true"  
                <% if(teachers.sovmest){ %>
                    checked   <% }%> >
                <label class="custom-control-label radio-inline" for="sovmest_bg" >  Сумісник   </label>
            </div>
            </div>
        </fieldset>
        <div class="form-group">
            <label for="norma">norma Нормові години</label>
            <input value="<%= teachers.norma %>" required id="norma" value="720"
                class="form-control" type="text" name="norma">
        </div>
        <div class="form-group">
            <label for="sverh">sverh Понаднормові години</label>
            <input value="<%= teachers.sverh %>" required id="sverh" value="0"
                class="form-control" type="text" name="sverh">
        </div>
        <div class="form-group">
            <label for="fact">fact  Фактичні години</label>
            <input value="<%= teachers.fact %>" required id="fact" value="0"
                class="form-control" type="text" name="fact">
        </div>
        <div class="form-group">
            <label for="position">position Посада</label>
            <input value="<%= teachers.position %>"  id="position" placeholder="Посада"
                class="form-control" type="text" name="position">
        </div>
        <div class="form-group">
            <label for="categoryid">categoryid Категорія</label>
            
                <select name="categoryid" id="categoryid" required class="form-control">
                   
                   <%  
                        for(let i=0; i<categoryName.length;i++){
                 %>
                    <option value="<%= categoryName[i]._id %>" <% if(teachers.categoryid ==categoryName[i]._id ){ %> selected <% } %> ><%= categoryName[i].name %></option>
                    <%
                   }
                   %>
                  
                </select>

        </div>
        <div class="form-group">
            <label for="pckid">pckid ПЦК</label>
            
                <select name="pckid" id="pckid"   class="form-control">
                   
                   <%  
                        for(let i=0; i<pckAbr.length;i++){
                 %>
                    <option value="<%= pckAbr[i]._id %>" <% if(teachers.pckid ==pckAbr[i]._id ){ %> selected <% } %> ><%= pckAbr[i].abr %></option>
                    <%
                   }
                   %>
                  
                </select>

        </div>
        <div class="form-group">
            <button class="btn btn-success">Зберегти</button>
            &nbsp;<a href="/teachers" class="btn btn-info">Назад</a>
        </div>
    </form>
</div>
<%- include("../partials/footer"); %>